autom4te.cache
TESTS_ENVIRONMENT
config.status
docs/build
src/.deps/
src/Makefile
src/bin2c
src/config.h
src/help.c
src/libdiag.a
src/lnav
src/stamp-h1
src/static-libs/
test/.deps/
test/Makefile
*.pyc
