.deps
.lnav
.DS_Store
*.dat
*.diff
test/*.err
*.index
*.log
*.o
*.obj
*.pyc
*.tmp
*.trs
*~
.idea/
Makefile
Makefile.in
TESTS_ENVIRONMENT
aclocal.m4
aminclude_static.am
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
test-driver
docs/build
release/lnav.spec
release/release-NEWS.md
release/linux-pkg/
release/osx-build-dir/
release/osx-pkg/
release/outbox/
release/vagrant-static-linux/.vagrant
release/vagrant-static-linux/lnav
cmake-build-debug/
src/bin2c
src/config.h
src/config.h.in
src/default-config-json.c
src/default-log-formats-json.c
src/dump-pid-sh.c
src/help.c
src/init-sql.c
src/libdiag.a
src/lnav
src/lnav-test
src/ptimec
src/spookyhash/.dirstamp
src/stamp-h1
src/static-libs/
src/time_fmts.cc
src/yajl/.dirstamp
test/drive_data_scanner
test/drive_grep_proc
test/drive_json_op
test/drive_json_ptr_walk
test/drive_line_buffer
test/drive_listview
test/drive_logfile
test/drive_mvwattrline
test/drive_readline_curses
test/drive_sequencer
test/drive_sql
test/drive_view_colors
test/drive_vt52_curses
test/logfile_append.0
test/logfile_syslog.1.bz2
test/logfile_syslog.1.gz
test/scanned.dpt
test/scripty
test/simple-db.db
test/slicer
test/test_ansi_scrubber
test/test_auto_fd
test/test_auto_mem
test/test_bookmarks
test/test_chunky_index
test/test_concise
test/test_date_time_scanner
test/test_grep_proc2
test/test_hist_source
test/test_json_ptr
test/test_line_buffer2
test/test_log_accel
test/test_pcrepp
test/test_top_status
test/test_yajlpp
test/truncfile.0
cmake-build/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
conan/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
