name: tailer-ape

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: update apt
        run: sudo apt-get update
      - name: Install packages
        run: >-
          wget https://github.com/tstack/cosmopolitan/releases/download/v1.0stack/cosmopolitan-amalgamation-1.0-stack.zip &&
          unzip cosmopolitan-amalgamation-1.0-stack.zip
      - name: Build
        run: >-
          gcc -g -Os -static -nostdlib -nostdinc -fno-pie -no-pie -mno-red-zone
          -fno-omit-frame-pointer -pg -mnop-mcount
          -o tailer.dbg -I src/tailer
          src/tailer/tailer.main.c src/tailer/tailer.c src/tailer/sha-256.c
          -fuse-ld=bfd -Wl,-T,ape.lds
          -include cosmopolitan.h crt.o ape.o cosmopolitan.a
      - name: Objcopy
        run: objcopy -S -O binary tailer.dbg src/tailer/tailer.ape
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          # Optional, but recommended
          # Defaults to "Apply automatic changes"
          commit_message: Update tailer
          file_pattern: src/tailer/tailer.ape
